#About{
    height: 100vh;
    font-family: "Plus Jakarta Sans";
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#About h1{
    padding: 0;
    margin: 0;
}

#About .header{
    font-size: 80px;
}

#About .tabs-content{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

#About .tabs-content-list{
    font-size: 48px;
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: start;
}

#About .tabs-content-list p{
    margin: 0;
    padding: 0;
    font-weight: 1000;
    color: white;
}

#About .tabs-content-list .role{
    font-size: 20px;
    font-weight: 400;
    color: #c1121f;
}