#About{
    height: 100vh;
    font-family: "Plus Jakarta Sans";
    padding: 40px;
}

#About h1{
    padding: 0;
    margin: 0;
}

#About .header{
    font-size: 80px;
}

#About .tabs-wrapper{
    align-self: self-start;
    display: inherit;
    flex-direction: row;
    width: 70%;
    margin: 30px 0;
}

#About .tabs-option{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    height: 50px;
    width: 150px;
    background-color: transparent;
    border: none;
    color: white;
    transition: ease-in 0.2s;
    background-color: rgba(193, 18, 31, 0.9);
    text-align: center;
    border-radius: 8px;
}

#About .tabs-option p {
    margin: 0;
    font-size: 20px;
}

#About .tabs-option:hover{
    background-color: white;
    color: black;
}

#About .tabs-option.active{
    background-color: white;
    color: black;
}
.hidden{
    display: none;
}